html, body{
	margin: 0;
	padding: 0;
	background: url('4.jpg') no-repeat;
	background-size:  1370px 960px;
	height: 100%;
	width: 100%;
}
div.header{
	color: black;
	height: 60px;
	width: 100%;
}
div.logo{
	color: black;
	float: left;
	height: 60px;
	width: 25%;
}

div.menu{
	color: black;
	float: right;
	height: 60px;
	width: 75%;
}
div.portfolio{
	color: black;
	float: right;
	height: 60px;
	width: 15%;
	text-align: center;
}

.slider img{
	width: 340px;
	height: 336px;
	border-radius: 50%;
	margin :0 auto;
	display: block;
	border :2px solid black;
}
.inlogo{
	padding-left: 30px;
	width: 25%;
}
.inlogo img{
	width: 55px;
	height: 25%;
	margin :0 auto;
	display: block;
	float: left;
	border-radius: 50px;
}
.inlogo2{
	color: black;
	float: left;
	height: 67%;
	width: 55%;
	text-align: center;
	padding: 10px;
}

h2{
	margin: 0;
	text-align: center;
}
div.badan{
	background-color: red;
	width: 100%;
}

/* CSS PORTFOLIO */

div.tempport{	
	color: black;
	height: 370px;
	width: 100%;
}
div.tempportone{
	color: black;
	float: left; 
	height: 300px;
	width: 100%;
}
div.portone{
	color: black;
	float: left;  
	height: 300px;
	width: 450px;
}
div.porttwo{
	color: black;
	float: left; 
	height: 300px;
	width: 449px;
}
div.portthree{
	color: black;
	float: left; 
	height: 300px;
	width: 450px;
}
div.tempporttwo{
	color: black;
	float: left; 
	height: 70px;
	width: 100%;
}
div.underportone{
	color: black;
	float: left;  
	height: 70px;
	width: 450px;
}
div.underporttwo{
	color: black;
	float: left; 
	height: 70px;
	width: 449px;
}
div.underportthree{
	color: black;
	float: left; 
	height: 70px;
	width: 450px;
}
div.tempportfolio{
	color: black;
	height: 370px;
	width: 100%;
}
div.tempportfolioone{
	color: black;
	float: left; 
	height: 300px;
	width: 100%;
}
div.oneport{
	color: black;
	float: left; 
	height: 300px;
	width: 450px;
}
div.twoport{
	color: black;
	float: left; 
	height: 300px;
	width: 449px;
}
div.threeport{
	color: black;
	float: left; 
	height: 300px;
	width: 450px;
}
div.tempportfoliotwo{
	color: black;
	float: left; 
	height: 70px;
	width: 100%;
}
div.underoneport{
	color: black;
	float: left; 
	height: 70px;
	width: 450px;
}
div.undertwoport{
	color: black;
	float: left; 
	height: 70px;
	width: 449px;
}
div.underthreeport{
	color: black;
	float: left; 
	height: 70px;
	width: 450px;
}
img{
	width: 440px;
	height: 300px;
	border-radius: 50%;
	margin :0 auto;
	display: block;
}